In [4]:
#import libraries
import pandas as pd

In [8]:
#import data
intakes=pd.read_csv('aac_intakes.csv')
intakes_outcomes=pd.read_csv('aac_intakes_outcomes.csv')
outcomes=pd.read_csv('aac_outcomes.csv')

In [19]:
intakes.head(1)

,age_upon_intake,animal_id,animal_type,breed,color,datetime,datetime2,found_location,intake_condition,intake_type,name,sex_upon_intake
0,8 years,A706918,Dog,English Springer Spaniel,White/Liver,2015-07-05T12:59:00.000,2015-07-05T12:59:00.000,9409 Bluegrass Dr in Austin (TX),Normal,Stray,Belle,Spayed Female

In [27]:
intakes.isna()

,age_upon_intake,animal_id,animal_type,breed,color,datetime,datetime2,found_location,intake_condition,intake_type,name,sex_upon_intake
0,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,True,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
80182,False,False,False,False,False,False,False,False,False,False,True,False
80183,False,False,False,False,False,False,False,False,False,False,True,False
80184,False,False,False,False,False,False,False,False,False,False,True,False
80185,False,False,False,False,False,False,False,False,False,False,False,False
80186,False,False,False,False,False,False,False,False,False,False,False,False

In [28]:
intakes_outcomes.head(1)

,age_upon_outcome,animal_id_outcome,date_of_birth,outcome_subtype,outcome_type,sex_upon_outcome,age_upon_outcome_(days),age_upon_outcome_(years),age_upon_outcome_age_group,outcome_datetime,...,age_upon_intake_age_group,intake_datetime,intake_month,intake_year,intake_monthyear,intake_weekday,intake_hour,intake_number,time_in_shelter,time_in_shelter_days
0,10 years,A006100,2007-07-09 00:00:00,NaN,Return to Owner,Neutered Male,3650,10.0,"(7.5, 10.0]",2017-12-07 14:07:00,...,"(7.5, 10.0]",2017-12-07 00:00:00,12,2017,2017-12,Thursday,14,1.0,0 days 14:07:00.000000000,0.588194

In [18]:
outcomes.head(1)

,age_upon_outcome,animal_id,animal_type,breed,color,date_of_birth,datetime,monthyear,name,outcome_subtype,outcome_type,sex_upon_outcome
0,2 weeks,A684346,Cat,Domestic Shorthair Mix,Orange Tabby,2014-07-07T00:00:00,2014-07-22T16:04:00,2014-07-22T16:04:00,NaN,Partner,Transfer,Intact Male

# Meets Expections

## Question 1:Is there an area where more pets are found?

Find the top 5 places where animals are found so the shelter can coordinate with local volunteers and animal control to monitor these areas.

Hint: Try to group the found locations together.

##  Question 2: What is the average number of pets found in a month in the year 2015? Are there months where there is a higher number of animals found?

Knowing the number of pets the shelter might see in a month can help them gather enough resources and donations to care for the animals they receive.


## Question 3: What is the ratio of incoming pets vs. adopted pets?

This key metric helps the shelter know how they are doing.

##  Question 4: What is the distribution of the types of animals in the shelter?

Find the count of each type of animal in the shelter.


## Question 5: What are the adoption rates for specific breeds?

Find the top 5 dog breeds in the shelter (based on count) and then find the adoption percentage of each breed.


## Question 6: What are the adoption rates for different colorings?

Find the top 5 colorings in the shelter (based on count) and then find the adoption percentage of each color.


## Questions 7: About how many animals are spayed/neutered each month?

This will help the shelter allocate resources and staff. Assume that all intact males and females will be spayed/neutered.

## Questions 8 Describe your findings and methods for each of the above questions. Use markdown cells in JupyterLab to detail.

# Extra Credit


##  Question 9 How many animals in the shelter are repeats? Which animal was returned to the shelter the most?

This means the animal has been brought in more than once.


## Question 10: What are the adoption rates for the following age groups?

    baby: 4 months and less
    young: 5 months - 2 years
    adult: 3 years - 10 years
    senior: 11+

## Question 11.If spay/neuter for a dog costs $100 and a spay/neuter for a cat costs $50, how much did the shelter spend in 2015 on these procedures?


##Questions 12.Describe your findings and methods for each of the above questions. Use markdown cells in JupyterLab to detail.

    How did you get your answer?
    What was your final answer?