# Data Analysis Tech Degree Unit 5: Pet Shelter Analysis

  ___

>Use Python’s Pandas library  to analyze pet shelter data
>
>to answer important questions for stakeholders.

## Setting everything up
---

In order to start working with the files, we need to import pandas as pd and reading the files

``` python
# import libraries
import pandas as pd 
# reading the files 
intakes=pd.read_csv('aac_intakes.csv')
intakes_outcomes=pd.read_csv('aac_intakes_outcomes.csv')
outcomes=pd.read_csv('aac_outcomes.csv')
```
so let's do that next

In [338]:
#import libraries
import pandas as pd 
import matplotlib.pyplot as plt
%matplotlib

Using matplotlib backend: module://matplotlib_inline.backend_inline

In [339]:
#import data
intakes=pd.read_csv('aac_intakes.csv')
intakes_outcomes=pd.read_csv('aac_intakes_outcomes.csv')
outcomes=pd.read_csv('aac_outcomes.csv')

## taking an initial look at the data from the csvs

Let's apply the following methods to look at each dataframe for info
* `head()`
* `tail()`
* `len()`
* `shape`
* `dtypes`

### Taking a look at the intakes dataframe

In [340]:
intakes
intakes.loc[(intakes.animal_type=='Livestock')]

,age_upon_intake,animal_id,animal_type,breed,color,datetime,datetime2,found_location,intake_condition,intake_type,name,sex_upon_intake
9900,2 weeks,A674214,Livestock,Pig Mix,Black,2014-03-09T16:45:00.000,2014-03-09T16:45:00.000,Davis Ln & Brodie Ln in Austin (TX),Normal,Stray,NaN,Unknown
9914,2 years,A701250,Livestock,Pig Mix,Pink,2015-04-26T12:37:00.000,2015-04-26T12:37:00.000,12Th St And Airport Blvd in Austin (TX),Normal,Stray,NaN,Intact Female
20700,1 year,A718910,Livestock,Pig Mix,White,2016-01-09T12:14:00.000,2016-01-09T12:14:00.000,12707 N Mopac Expy in Austin (TX),Normal,Stray,NaN,Intact Male
50240,6 months,A742204,Livestock,Potbelly Pig Mix,Black/White,2017-01-17T12:22:00.000,2017-01-17T12:22:00.000,Austin (TX),Normal,Owner Surrender,NaN,Intact Female
55334,6 months,A668167,Livestock,Pig Mix,Black/White,2013-11-28T19:39:00.000,2013-11-28T19:39:00.000,1603 Astro Pl in Austin (TX),Normal,Stray,NaN,Intact Female
61040,1 year,A673651,Livestock,Pig Mix,Black/White,2014-02-28T11:06:00.000,2014-02-28T11:06:00.000,6507 Eudora Cove in Austin (TX),Normal,Stray,NaN,Neutered Male
62719,1 year,A715047,Livestock,Goat Mix,Brown,2015-10-30T21:02:00.000,2015-10-30T21:02:00.000,Quicksilver & S Pleasant Valley in Austin (TX),Normal,Public Assist,NaN,Unknown
63766,2 years,A764822,Livestock,Potbelly Pig Mix,White,2018-01-06T17:34:00.000,2018-01-06T17:34:00.000,Pearce Lane And Ross Road in Del Valle (TX),Normal,Stray,NaN,Intact Female
65013,5 months,A679540,Livestock,Goat Mix,Black,2014-05-22T14:22:00.000,2014-05-22T14:22:00.000,Rundberg in Austin (TX),Normal,Stray,NaN,Intact Male

In [341]:
intakes.head(1)

,age_upon_intake,animal_id,animal_type,breed,color,datetime,datetime2,found_location,intake_condition,intake_type,name,sex_upon_intake
0,8 years,A706918,Dog,English Springer Spaniel,White/Liver,2015-07-05T12:59:00.000,2015-07-05T12:59:00.000,9409 Bluegrass Dr in Austin (TX),Normal,Stray,Belle,Spayed Female

In [342]:
intakes.tail()

,age_upon_intake,animal_id,animal_type,breed,color,datetime,datetime2,found_location,intake_condition,intake_type,name,sex_upon_intake
80182,10 years,A769067,Dog,Boxer Mix,Brown Brindle,2018-03-29T18:20:00.000,2018-03-29T18:20:00.000,11216 Jollyville Rd 216 in Austin (TX),Aged,Stray,NaN,Spayed Female
80183,5 years,A768934,Dog,Dachshund Wirehair/Chihuahua Shorthair,Chocolate/White,2018-03-27T14:27:00.000,2018-03-27T14:27:00.000,603 West Johanna Street in Austin (TX),Normal,Stray,NaN,Intact Male
80184,2 years,A769064,Other,Bat Mix,Brown,2018-03-29T17:13:00.000,2018-03-29T17:13:00.000,2519 Scarbrough Dr in Travis (TX),Normal,Wildlife,NaN,Unknown
80185,3 years,A675680,Dog,German Shepherd/Black/Tan Hound,Black/Brown,2014-03-31T18:10:00.000,2014-03-31T18:10:00.000,Austin (TX),Normal,Public Assist,Draco,Neutered Male
80186,1 year,A680949,Dog,Chihuahua Shorthair/Beagle,Tan,2014-06-10T11:53:00.000,2014-06-10T11:53:00.000,4605 Lyra Cir in Austin (TX),Normal,Stray,Lolo,Intact Male

In [343]:
intakes.tail(1)

,age_upon_intake,animal_id,animal_type,breed,color,datetime,datetime2,found_location,intake_condition,intake_type,name,sex_upon_intake
80186,1 year,A680949,Dog,Chihuahua Shorthair/Beagle,Tan,2014-06-10T11:53:00.000,2014-06-10T11:53:00.000,4605 Lyra Cir in Austin (TX),Normal,Stray,Lolo,Intact Male

In [344]:
len(intakes)

80187

In [345]:
intakes.shape

(80187, 12)

In [346]:
intakes.dtypes

age_upon_intake     object
animal_id           object
animal_type         object
breed               object
color               object
datetime            object
datetime2           object
found_location      object
intake_condition    object
intake_type         object
name                object
sex_upon_intake     object
dtype: object

In [347]:
#removing duplicates from the intakes dataframe
intakes.sort_values('animal_id', inplace=True)
intakes.drop_duplicates(('age_upon_intake','animal_id','datetime'), keep='last',inplace=True)
intakes.shape

(80160, 12)

### Taking a look at the intakes_outcomes dataframe

In [348]:
intakes_outcomes.head(1)

,age_upon_outcome,animal_id_outcome,date_of_birth,outcome_subtype,outcome_type,sex_upon_outcome,age_upon_outcome_(days),age_upon_outcome_(years),age_upon_outcome_age_group,outcome_datetime,...,age_upon_intake_age_group,intake_datetime,intake_month,intake_year,intake_monthyear,intake_weekday,intake_hour,intake_number,time_in_shelter,time_in_shelter_days
0,10 years,A006100,2007-07-09 00:00:00,NaN,Return to Owner,Neutered Male,3650,10.0,"(7.5, 10.0]",2017-12-07 14:07:00,...,"(7.5, 10.0]",2017-12-07 00:00:00,12,2017,2017-12,Thursday,14,1.0,0 days 14:07:00.000000000,0.588194

In [349]:
intakes_outcomes.count()

age_upon_outcome              79672
animal_id_outcome             79672
date_of_birth                 79672
outcome_subtype               36348
outcome_type                  79662
sex_upon_outcome              79671
age_upon_outcome_(days)       79672
age_upon_outcome_(years)      79672
age_upon_outcome_age_group    79672
outcome_datetime              79672
outcome_month                 79672
outcome_year                  79672
outcome_monthyear             79672
outcome_weekday               79672
outcome_hour                  79672
outcome_number                79672
dob_year                      79672
dob_month                     79672
dob_monthyear                 79672
age_upon_intake               79672
animal_id_intake              79672
animal_type                   79672
breed                         79672
color                         79672
found_location                79672
intake_condition              79672
intake_type                   79672
sex_upon_intake               79671
count                         79672
age_upon_intake_(days)        79672
age_upon_intake_(years)       79672
age_upon_intake_age_group     79672
intake_datetime               79672
intake_month                  79672
intake_year                   79672
intake_monthyear              79672
intake_weekday                79672
intake_hour                   79672
intake_number                 79672
time_in_shelter               79672
time_in_shelter_days          79672
dtype: int64

In [350]:
intakes_outcomes.tail(1)

,age_upon_outcome,animal_id_outcome,date_of_birth,outcome_subtype,outcome_type,sex_upon_outcome,age_upon_outcome_(days),age_upon_outcome_(years),age_upon_outcome_age_group,outcome_datetime,...,age_upon_intake_age_group,intake_datetime,intake_month,intake_year,intake_monthyear,intake_weekday,intake_hour,intake_number,time_in_shelter,time_in_shelter_days
79671,10 years,A769067,2008-03-29 00:00:00,Suffering,Euthanasia,Spayed Female,3650,10.0,"(7.5, 10.0]",2018-03-30 13:52:00,...,"(7.5, 10.0]",2018-03-29 18:20:00,3,2018,2018-03,Thursday,18,1.0,0 days 19:32:00.000000000,0.813889

In [351]:
len(intakes_outcomes)

79672

In [352]:
rows, columns=intakes_outcomes.shape
f'intakes_outcomes dataframe has {rows } rows and  {columns} columns'

'intakes_outcomes dataframe has 79672 rows and  41 columns'

In [353]:
intakes_outcomes.dtypes

age_upon_outcome               object
animal_id_outcome              object
date_of_birth                  object
outcome_subtype                object
outcome_type                   object
sex_upon_outcome               object
age_upon_outcome_(days)         int64
age_upon_outcome_(years)      float64
age_upon_outcome_age_group     object
outcome_datetime               object
outcome_month                   int64
outcome_year                    int64
outcome_monthyear              object
outcome_weekday                object
outcome_hour                    int64
outcome_number                float64
dob_year                        int64
dob_month                       int64
dob_monthyear                  object
age_upon_intake                object
animal_id_intake               object
animal_type                    object
breed                          object
color                          object
found_location                 object
intake_condition               object
intake_type                    object
sex_upon_intake                object
count                           int64
age_upon_intake_(days)          int64
age_upon_intake_(years)       float64
age_upon_intake_age_group      object
intake_datetime                object
intake_month                    int64
intake_year                     int64
intake_monthyear               object
intake_weekday                 object
intake_hour                     int64
intake_number                 float64
time_in_shelter                object
time_in_shelter_days          float64
dtype: object

In [354]:
# remove duplicates from the intakes_outcomes dataframe

intakes_outcomes.sort_values('animal_id_intake', inplace=True)

intakes_outcomes.drop_duplicates(('age_upon_outcome','animal_id_intake','animal_id_outcome','date_of_birth','intake_datetime','outcome_datetime'), keep='last',inplace=True)
intakes_outcomes.shape
#intakes_outcomes[['animal_id_intake','animal_id_outcome']]
#intakes_outcomes

(79636, 41)

In [355]:
intakes.shape,outcomes.shape, intakes_outcomes.shape

((80160, 12), (80681, 12), (79636, 41))

### Taking a look at the outcomes dataframe

In [356]:
outcomes.head(1)

,age_upon_outcome,animal_id,animal_type,breed,color,date_of_birth,datetime,monthyear,name,outcome_subtype,outcome_type,sex_upon_outcome
0,2 weeks,A684346,Cat,Domestic Shorthair Mix,Orange Tabby,2014-07-07T00:00:00,2014-07-22T16:04:00,2014-07-22T16:04:00,NaN,Partner,Transfer,Intact Male

In [357]:
outcomes.tail(1)

,age_upon_outcome,animal_id,animal_type,breed,color,date_of_birth,datetime,monthyear,name,outcome_subtype,outcome_type,sex_upon_outcome
80680,1 year,A768726,Dog,Siberian Husky Mix,Brown/White,2017-03-24T00:00:00,2018-04-03T18:36:00,2018-04-03T18:36:00,Sky,NaN,Return to Owner,Intact Female

In [358]:
outcomes.count(),intakes.count(), intakes_outcomes.count()

(age_upon_outcome    80673
 animal_id           80681
 animal_type         80681
 breed               80681
 color               80681
 date_of_birth       80681
 datetime            80681
 monthyear           80681
 name                56116
 outcome_subtype     36893
 outcome_type        80667
 sex_upon_outcome    80679
 dtype: int64,
 age_upon_intake     80160
 animal_id           80160
 animal_type         80160
 breed               80160
 color               80160
 datetime            80160
 datetime2           80160
 found_location      80160
 intake_condition    80160
 intake_type         80160
 name                55585
 sex_upon_intake     80159
 dtype: int64,
 age_upon_outcome              79636
 animal_id_outcome             79636
 date_of_birth                 79636
 outcome_subtype               36332
 outcome_type                  79626
 sex_upon_outcome              79635
 age_upon_outcome_(days)       79636
 age_upon_outcome_(years)      79636
 age_upon_outcome_age_group    79636
 outcome_datetime              79636
 outcome_month                 79636
 outcome_year                  79636
 outcome_monthyear             79636
 outcome_weekday               79636
 outcome_hour                  79636
 outcome_number                79636
 dob_year                      79636
 dob_month                     79636
 dob_monthyear                 79636
 age_upon_intake               79636
 animal_id_intake              79636
 animal_type                   79636
 breed                         79636
 color                         79636
 found_location                79636
 intake_condition              79636
 intake_type                   79636
 sex_upon_intake               79635
 count                         79636
 age_upon_intake_(days)        79636
 age_upon_intake_(years)       79636
 age_upon_intake_age_group     79636
 intake_datetime               79636
 intake_month                  79636
 intake_year                   79636
 intake_monthyear              79636
 intake_weekday                79636
 intake_hour                   79636
 intake_number                 79636
 time_in_shelter               79636
 time_in_shelter_days          79636
 dtype: int64)

In [359]:
len(outcomes)

80681

In [360]:
outcomes.shape

(80681, 12)

In [361]:
outcomes.dtypes

age_upon_outcome    object
animal_id           object
animal_type         object
breed               object
color               object
date_of_birth       object
datetime            object
monthyear           object
name                object
outcome_subtype     object
outcome_type        object
sex_upon_outcome    object
dtype: object

In [362]:
#removing the duplicates from the outcomes dataframe
outcomes.sort_values('animal_id', inplace=True)
outcomes.drop_duplicates(('animal_id','age_upon_outcome','date_of_birth','datetime'), keep='last',inplace=True)

intakes.shape, intakes_outcomes.shape, outcomes.shape

((80160, 12), (79636, 41), (80671, 12))

In [363]:
#merging the intakes and the outcomes dataframes

merge_1=intakes.merge(
    outcomes,

    left_on=[
        'animal_id',
        'animal_type',
        
        'breed',
        'color',
        'name'
      
       
       
        
    ],
    right_on=[
        'animal_id',
        'animal_type',
        
        'breed',
        'color',
        
        'name'
        
       
        
    ]
        
)

len(merge_1.animal_type=='Livestock')

100094

In [364]:
complete_merge=merge_1.merge(
    intakes_outcomes,
    left_on=[
        'animal_id',
        'animal_type',
        
        'breed',
        'color',
        'found_location'
    ]
    ,
    right_on=[
        'animal_id_intake',
        'animal_type',
        'breed',
        'color',
        'found_location'  
    ]

)

len(complete_merge.animal_type=='Livetock')

106345

In [365]:

complete_merge.sort_values('animal_id', inplace=True)
complete_merge.drop_duplicates(('age_upon_intake_x','animal_id','datetime_x'), keep='last',inplace=True)
#intakes_outcomes.shape
#intakes_outcomes[['animal_id_intake','animal_id_outcome']]
complete_merge.shape

(79600, 56)

## Meets Expections

### 1. Question 1:Is there an area where more pets are found?


Find the *top 5 places* _where animals are found_  
so the shelter can coordinate with local volunteers and animal control 
to monitor these areas.

**Hint**: Try to __group__ the found locations together.

In [366]:
found_locations=complete_merge.groupby('found_location')
found_locations_size=found_locations.size()
austin_locations=found_locations_size.sort_values(ascending=False)
location_list=[]
for location in austin_locations.items():
    location=location
    if 'Austin' in location[0]:
        austin_location=location
        location_list.append(austin_location)

five_locations=location_list[1:6]
print('The five top locations in Austin are:')
for location, total in five_locations:
    print()
   
    print(f'{location} with  {total}')


print('\N{green book}')

The five top locations in Austin are:

7201 Levander Loop in Austin (TX) with  514

4434 Frontier Trl in Austin (TX) with  162

124 W Anderson Ln in Austin (TX) with  152

1156 W Cesar Chavez in Austin (TX) with  98

12034 Research Blvd in Austin (TX) with  98
📗

#### Explanation
In order to get the 5 top destinations in Austin, I followed the steps below:
* Grouped all the elements of the complete_group by the found_location column and stored it in the variable found_locations
* Next, I applied the size method to the above mentioned variable so that it provides the series of the total number of rows for all destinations-i.e, how many rows contain the same destination
* The values previously  obtained were sorted in descending order
* An empty list was created in order to hold the places in Austin that would be extracted in a forecoming  step.
* The key and value pairs from the pandas series of the sorted values was looped over and the location temporary variable reassigned to a more permanent variable
* inside the loop, I verified if the word 'Austin' was in the first index of the tuple created by looping over the panda series on the previous step, the first index(0) is the one containing the name of the location.
* the resulting locations were added to the list created on a previous step
* the locations in Ausin where sliced from 1 to 6 as to skip the inital Austin location containing all of Austin, and selecting the 5 actual loca

###  2. Question 2: What is the average number of pets found in a month in the year 2015? Are there months where there is a higher number of animals found?

Knowing the number of pets the shelter might see in a month can help them gather enough resources and donations to care for the animals they receive.

In [367]:
#select all the records from 2015
pets_in_2015=complete_merge[(complete_merge.intake_year==2015)]

#group them by month
grouped_by_month=pets_in_2015.groupby('intake_month')
#find the size for each month
count_groups_size=grouped_by_month.size()

count_groups_size
#  use the sum aggregate to find out the total  of pets in 2015
sum_groups_size=count_groups_size.sum()

#find the mean
average_count_groups=count_groups_size.mean()


higher_month=grouped_by_month.size()[5]
second_higher_month=grouped_by_month.size()[6]
f'The average number of pets found in a month in 2015 is {average_count_groups:.0f} The months where there are a higher number of animals found are May with {higher_month} and June  with {second_higher_month}'
print('\N{green book}')

📗

####  Explanation

* Initially, merged all the dataframes into one called **complete_merge**, from the resulting  dataframe, the __duplicate were  removed__.

* After the duplicates were removed, then the  records pertaining only to 2015 were selected form the dataframe into a variable called **pets_in_2015**.


* A new variable called **grouped_by_month** was created which held the same dataframe as **pets_in_2015**. only that the ```pd.groupby```
method was applied to the dataframe with the argument of intake_month, so that when run, it displays the same data from the **pets_in_2015 dataframe**, only that it will be grouped by months in which the pets were found or as the dataframe calls them intaken.


* To the **group_by_month values**, the ```size()``` method was appplied, so that it provided the size for each  of the months and stored in  the **count_groups_size**.


* The ```mean()``` method was applied to  the ***count_groups_size*** variable  the so that the average for all months was produced.


* __To get the higher month__, I took a look at count_groups_size variable, which holds a ```pandas.core.series.Series```, reviewed which were the highest values and accessed them by their corresponding indexes, that is 5 and 6.
* As an additional step, the sum total for all the months,i.e.,how many pets were found in 2015

### 3. Question 3: What is the ratio of incoming pets vs. adopted pets?

This key metric helps the shelter know how they are doing

In [368]:
# take all records as total intakes
total_records=len(complete_merge)
#g et all the adopted ones
adopted=complete_merge.loc[(complete_merge.outcome_type_x=='Adoption')]
len(adopted)
ratio=len(adopted)/total_records
f'The ratio of incoming pets vs adopted pets is {ratio}, which represents a {ratio*100:.2f}%'

'The ratio of incoming pets vs adopted pets is 0.4219095477386935, which represents a 42.19%'

#### Explanation

In order to find the ratio of incoming pets vs adopted pets the following logic was followed:

* The finding of a ratio is performed by dividing the total number of records that were adopted by the number of total records of the entire dataset, which is asssumed to be the total number of intakes
* From the complete_merge dataset which combines all the previous datasets and is clear of duplicates, we get the length of the datase.
* Next, from the column with a name outcome_type_x, which has the most records, meaning it is more complete, we select those whose outcome_type is Adoption.
* Next the length,i.e. the total number of records for the newly selected records for adoption is found with the len function
* Then, the  number of adopted pets is divising by the total records and store in a variable called ratio
* Finally, the information is printed out using an f-string, which the ratio as a number of 0.4219095377386935 and multiplied by 100, so that it is turned into a percentage form with just 2 digits in the floating point area.

###  4. Question 4: What is the distribution of the types of animals in the shelter?

Find the count of each type of animal in the shelter.

In [392]:
grouped_by_animal_type=complete_merge.groupby('animal_type')
animals_count=grouped_by_animal_type.count()

for animal_count in animals_count.items():
    animal=animal_count[1]
 
  
print('the distribution of the type of animales in the shelter is' )
print()
   
animal=animal.sort_values(ascending=False)
for animal_type in animal.items():
    print(animal_type)
print(animal.animal_type)

the distribution of the type of animales in the shelter is

('Dog', 45321)
('Cat', 29519)
('Other', 4421)
('Bird', 339)

AttributeError: 'Series' object has no attribute 'animal_type'

#### Explanation

For this question, I followed the steps described below


1. Grouped the complete merge dataframe by animal type and stored it  in grouped_by_animal_type variable
2. Applied  the ```count``` method to the result grouped_by_anima_type varibale in order to get the count of the animals by animal type
3. looped through the results in order to get the individual animal type count on the index 1 to get values and stored it in the variable animal
4. outside of the loop, reassigned the value to a variable where the values were sorted

### 5. Question 5: What are the adoption rates for specific breeds?

Find the top 5 dog breeds in the shelter (based on count) and then find the adoption percentage of each breed.

In [370]:
dogs=complete_merge.loc[(complete_merge.animal_type=='Dog')]
total_dogs=len(dogs)
total_dogs


grouped_by_breeds=dogs.groupby('breed')
grouped_by_breeds
count_of_breeds=grouped_by_breeds.count()
for count_of_breed in count_of_breeds.items():
    breeds=count_of_breed[1]
breeds=breeds.sort_values(ascending=False)
breeds_head=breeds.head(5)
for name,element in breeds_head.items():
    ratio=element/total_dogs
   
    percentage=ratio*100
    print(f'the adoption rate for the {name} is {percentage:.2f}%')

the adoption rate for the Pit Bull Mix is 13.80%
the adoption rate for the Chihuahua Shorthair Mix is 10.67%
the adoption rate for the Labrador Retriever Mix is 10.55%
the adoption rate for the German Shepherd Mix is 4.30%
the adoption rate for the Australian Cattle Dog Mix is 2.43%

### 6. Question 6: What are the adoption rates for different colorings?

Find the top 5 colorings in the shelter (based on count) and then find the adoption percentage of each color.

### 7. Questions 7: About how many animals are spayed/neutered each month?

This will help the shelter allocate resources and staff. Assume that all intact males and females will be spayed/neutered.

### 8. Questions 8: Describe your findings and methods for each of the above questions. Use markdown cells in JupyterLab to detail.
#### Findings
1.Intakes and outcomes dataframes have the same number of columns and rows
2. 
#### Methods 

```python
def hello()
```

# Extra Credit


###  1. Question 9 How many animals in the shelter are repeats? Which animal was returned to the shelter the most?

This means the animal has been brought in more than once.


### 2. Question 10: What are the adoption rates for the following age groups?

    baby: 4 months and less
    young: 5 months - 2 years
    adult: 3 years - 10 years
    senior: 11+

### 3. Question 11.If spay/neuter for a dog costs $100 and a spay/neuter for a cat costs $50, how much did the shelter spend in 2015 on these procedures?


### 4. Questions 12.Describe your findings and methods for each of the above questions. Use markdown cells in JupyterLab to detail.

    -- How did you get your answer?
    -- What was your final answer?

# Bibliograpy
![images]

[Analyzing Books with Pandas](https://teamtreehouse.com/library/analyzing-books-with-pandas "link to the course")