# Data Analysis Tech Degree Unit 5: Pet Shelter Analysis

  ___

>Use Python’s Pandas library  to analyze pet shelter data
>
>to answer important questions for stakeholders.

## Setting everyything up
---

In order to start working with the files, we need to import pandas as pd and reading the files

``` python
#import libraries
import pandas as pd 
#reading the files 
intakes=pd.read_csv('aac_intakes.csv')
intakes_outcomes=pd.read_csv('aac_intakes_outcomes.csv')
outcomes=pd.read_csv('aac_outcomes.csv')
```
so let's do that next

In [270]:
#import libraries
import pandas as pd 
import matplotlib.pyplot as plt

In [271]:
#import data
intakes=pd.read_csv('aac_intakes.csv')
intakes_outcomes=pd.read_csv('aac_intakes_outcomes.csv')
outcomes=pd.read_csv('aac_outcomes.csv')

## taking an initial look at the data from the csvs

Let's apply the following methods to look at each dataframe for info
* `head()`
* `tail()`
* `len()`
* `shape`
* `dtypes`

### Taking a look at the intakes dataframe

In [272]:
intakes

,age_upon_intake,animal_id,animal_type,breed,color,datetime,datetime2,found_location,intake_condition,intake_type,name,sex_upon_intake
0,8 years,A706918,Dog,English Springer Spaniel,White/Liver,2015-07-05T12:59:00.000,2015-07-05T12:59:00.000,9409 Bluegrass Dr in Austin (TX),Normal,Stray,Belle,Spayed Female
1,11 months,A724273,Dog,Basenji Mix,Sable/White,2016-04-14T18:43:00.000,2016-04-14T18:43:00.000,2818 Palomino Trail in Austin (TX),Normal,Stray,Runster,Intact Male
2,4 weeks,A665644,Cat,Domestic Shorthair Mix,Calico,2013-10-21T07:59:00.000,2013-10-21T07:59:00.000,Austin (TX),Sick,Stray,NaN,Intact Female
3,4 years,A682524,Dog,Doberman Pinsch/Australian Cattle Dog,Tan/Gray,2014-06-29T10:38:00.000,2014-06-29T10:38:00.000,800 Grove Blvd in Austin (TX),Normal,Stray,Rio,Neutered Male
4,2 years,A743852,Dog,Labrador Retriever Mix,Chocolate,2017-02-18T12:46:00.000,2017-02-18T12:46:00.000,Austin (TX),Normal,Owner Surrender,Odin,Neutered Male
...,...,...,...,...,...,...,...,...,...,...,...,...
80182,10 years,A769067,Dog,Boxer Mix,Brown Brindle,2018-03-29T18:20:00.000,2018-03-29T18:20:00.000,11216 Jollyville Rd 216 in Austin (TX),Aged,Stray,NaN,Spayed Female
80183,5 years,A768934,Dog,Dachshund Wirehair/Chihuahua Shorthair,Chocolate/White,2018-03-27T14:27:00.000,2018-03-27T14:27:00.000,603 West Johanna Street in Austin (TX),Normal,Stray,NaN,Intact Male
80184,2 years,A769064,Other,Bat Mix,Brown,2018-03-29T17:13:00.000,2018-03-29T17:13:00.000,2519 Scarbrough Dr in Travis (TX),Normal,Wildlife,NaN,Unknown
80185,3 years,A675680,Dog,German Shepherd/Black/Tan Hound,Black/Brown,2014-03-31T18:10:00.000,2014-03-31T18:10:00.000,Austin (TX),Normal,Public Assist,Draco,Neutered Male
80186,1 year,A680949,Dog,Chihuahua Shorthair/Beagle,Tan,2014-06-10T11:53:00.000,2014-06-10T11:53:00.000,4605 Lyra Cir in Austin (TX),Normal,Stray,Lolo,Intact Male

In [273]:
intakes.count()

age_upon_intake     80187
animal_id           80187
animal_type         80187
breed               80187
color               80187
datetime            80187
datetime2           80187
found_location      80187
intake_condition    80187
intake_type         80187
name                55603
sex_upon_intake     80186
dtype: int64

In [274]:
intakes.head()

,age_upon_intake,animal_id,animal_type,breed,color,datetime,datetime2,found_location,intake_condition,intake_type,name,sex_upon_intake
0,8 years,A706918,Dog,English Springer Spaniel,White/Liver,2015-07-05T12:59:00.000,2015-07-05T12:59:00.000,9409 Bluegrass Dr in Austin (TX),Normal,Stray,Belle,Spayed Female
1,11 months,A724273,Dog,Basenji Mix,Sable/White,2016-04-14T18:43:00.000,2016-04-14T18:43:00.000,2818 Palomino Trail in Austin (TX),Normal,Stray,Runster,Intact Male
2,4 weeks,A665644,Cat,Domestic Shorthair Mix,Calico,2013-10-21T07:59:00.000,2013-10-21T07:59:00.000,Austin (TX),Sick,Stray,NaN,Intact Female
3,4 years,A682524,Dog,Doberman Pinsch/Australian Cattle Dog,Tan/Gray,2014-06-29T10:38:00.000,2014-06-29T10:38:00.000,800 Grove Blvd in Austin (TX),Normal,Stray,Rio,Neutered Male
4,2 years,A743852,Dog,Labrador Retriever Mix,Chocolate,2017-02-18T12:46:00.000,2017-02-18T12:46:00.000,Austin (TX),Normal,Owner Surrender,Odin,Neutered Male

In [275]:
intakes.tail(1)

,age_upon_intake,animal_id,animal_type,breed,color,datetime,datetime2,found_location,intake_condition,intake_type,name,sex_upon_intake
80186,1 year,A680949,Dog,Chihuahua Shorthair/Beagle,Tan,2014-06-10T11:53:00.000,2014-06-10T11:53:00.000,4605 Lyra Cir in Austin (TX),Normal,Stray,Lolo,Intact Male

In [276]:
len(intakes)

80187

In [277]:
rows, columns=intakes.shape
f'intakes has {rows} rows and {columns} columns'

'intakes has 80187 rows and 12 columns'

In [278]:
f'intakeshas{intakes.isna().sum()  }'

'intakeshasage_upon_intake         0\nanimal_id               0\nanimal_type             0\nbreed                   0\ncolor                   0\ndatetime                0\ndatetime2               0\nfound_location          0\nintake_condition        0\nintake_type             0\nname                24584\nsex_upon_intake         1\ndtype: int64'

In [279]:
intakes.dtypes

age_upon_intake     object
animal_id           object
animal_type         object
breed               object
color               object
datetime            object
datetime2           object
found_location      object
intake_condition    object
intake_type         object
name                object
sex_upon_intake     object
dtype: object

### Taking a look at the intakes_outcomes dataframe

In [280]:
intakes_outcomes.head(1)

,age_upon_outcome,animal_id_outcome,date_of_birth,outcome_subtype,outcome_type,sex_upon_outcome,age_upon_outcome_(days),age_upon_outcome_(years),age_upon_outcome_age_group,outcome_datetime,...,age_upon_intake_age_group,intake_datetime,intake_month,intake_year,intake_monthyear,intake_weekday,intake_hour,intake_number,time_in_shelter,time_in_shelter_days
0,10 years,A006100,2007-07-09 00:00:00,NaN,Return to Owner,Neutered Male,3650,10.0,"(7.5, 10.0]",2017-12-07 14:07:00,...,"(7.5, 10.0]",2017-12-07 00:00:00,12,2017,2017-12,Thursday,14,1.0,0 days 14:07:00.000000000,0.588194

In [281]:
intakes_outcomes.count()

age_upon_outcome              79672
animal_id_outcome             79672
date_of_birth                 79672
outcome_subtype               36348
outcome_type                  79662
sex_upon_outcome              79671
age_upon_outcome_(days)       79672
age_upon_outcome_(years)      79672
age_upon_outcome_age_group    79672
outcome_datetime              79672
outcome_month                 79672
outcome_year                  79672
outcome_monthyear             79672
outcome_weekday               79672
outcome_hour                  79672
outcome_number                79672
dob_year                      79672
dob_month                     79672
dob_monthyear                 79672
age_upon_intake               79672
animal_id_intake              79672
animal_type                   79672
breed                         79672
color                         79672
found_location                79672
intake_condition              79672
intake_type                   79672
sex_upon_intake               79671
count                         79672
age_upon_intake_(days)        79672
age_upon_intake_(years)       79672
age_upon_intake_age_group     79672
intake_datetime               79672
intake_month                  79672
intake_year                   79672
intake_monthyear              79672
intake_weekday                79672
intake_hour                   79672
intake_number                 79672
time_in_shelter               79672
time_in_shelter_days          79672
dtype: int64

In [282]:
intakes_outcomes.tail(1)

,age_upon_outcome,animal_id_outcome,date_of_birth,outcome_subtype,outcome_type,sex_upon_outcome,age_upon_outcome_(days),age_upon_outcome_(years),age_upon_outcome_age_group,outcome_datetime,...,age_upon_intake_age_group,intake_datetime,intake_month,intake_year,intake_monthyear,intake_weekday,intake_hour,intake_number,time_in_shelter,time_in_shelter_days
79671,10 years,A769067,2008-03-29 00:00:00,Suffering,Euthanasia,Spayed Female,3650,10.0,"(7.5, 10.0]",2018-03-30 13:52:00,...,"(7.5, 10.0]",2018-03-29 18:20:00,3,2018,2018-03,Thursday,18,1.0,0 days 19:32:00.000000000,0.813889

In [283]:
len(intakes_outcomes)

79672

In [284]:
rows, columns=intakes_outcomes.shape
f'intakes_outcomes dataframe has {rows } rows and  {columns} columns'

'intakes_outcomes dataframe has 79672 rows and  41 columns'

In [285]:
intakes_outcomes.dtypes

age_upon_outcome               object
animal_id_outcome              object
date_of_birth                  object
outcome_subtype                object
outcome_type                   object
sex_upon_outcome               object
age_upon_outcome_(days)         int64
age_upon_outcome_(years)      float64
age_upon_outcome_age_group     object
outcome_datetime               object
outcome_month                   int64
outcome_year                    int64
outcome_monthyear              object
outcome_weekday                object
outcome_hour                    int64
outcome_number                float64
dob_year                        int64
dob_month                       int64
dob_monthyear                  object
age_upon_intake                object
animal_id_intake               object
animal_type                    object
breed                          object
color                          object
found_location                 object
intake_condition               object
intake_type                    object
sex_upon_intake                object
count                           int64
age_upon_intake_(days)          int64
age_upon_intake_(years)       float64
age_upon_intake_age_group      object
intake_datetime                object
intake_month                    int64
intake_year                     int64
intake_monthyear               object
intake_weekday                 object
intake_hour                     int64
intake_number                 float64
time_in_shelter                object
time_in_shelter_days          float64
dtype: object

### Taking a look at the outcomes dataframe

In [286]:
outcomes.head(1)

,age_upon_outcome,animal_id,animal_type,breed,color,date_of_birth,datetime,monthyear,name,outcome_subtype,outcome_type,sex_upon_outcome
0,2 weeks,A684346,Cat,Domestic Shorthair Mix,Orange Tabby,2014-07-07T00:00:00,2014-07-22T16:04:00,2014-07-22T16:04:00,NaN,Partner,Transfer,Intact Male

In [287]:
outcomes.tail(1)

,age_upon_outcome,animal_id,animal_type,breed,color,date_of_birth,datetime,monthyear,name,outcome_subtype,outcome_type,sex_upon_outcome
80680,1 year,A768726,Dog,Siberian Husky Mix,Brown/White,2017-03-24T00:00:00,2018-04-03T18:36:00,2018-04-03T18:36:00,Sky,NaN,Return to Owner,Intact Female

In [288]:
outcomes.count(),intakes.count()

(age_upon_outcome    80673
 animal_id           80681
 animal_type         80681
 breed               80681
 color               80681
 date_of_birth       80681
 datetime            80681
 monthyear           80681
 name                56116
 outcome_subtype     36893
 outcome_type        80667
 sex_upon_outcome    80679
 dtype: int64,
 age_upon_intake     80187
 animal_id           80187
 animal_type         80187
 breed               80187
 color               80187
 datetime            80187
 datetime2           80187
 found_location      80187
 intake_condition    80187
 intake_type         80187
 name                55603
 sex_upon_intake     80186
 dtype: int64)

In [289]:
len(outcomes)

80681

In [290]:
outcomes.shape

(80681, 12)

In [291]:
outcomes.dtypes, intakes.dtypes

(age_upon_outcome    object
 animal_id           object
 animal_type         object
 breed               object
 color               object
 date_of_birth       object
 datetime            object
 monthyear           object
 name                object
 outcome_subtype     object
 outcome_type        object
 sex_upon_outcome    object
 dtype: object,
 age_upon_intake     object
 animal_id           object
 animal_type         object
 breed               object
 color               object
 datetime            object
 datetime2           object
 found_location      object
 intake_condition    object
 intake_type         object
 name                object
 sex_upon_intake     object
 dtype: object)

In [292]:
merge1=intakes.merge(
    outcomes,
    left_on=['animal_id',
             'animal_type',
             'breed',
             'color'],
    right_on=['animal_id',
             'animal_type',
             'breed',
             'color']
  
)

In [293]:
merge1.head(1)

,age_upon_intake,animal_id,animal_type,breed,color,datetime_x,datetime2,found_location,intake_condition,intake_type,name_x,sex_upon_intake,age_upon_outcome,date_of_birth,datetime_y,monthyear,name_y,outcome_subtype,outcome_type,sex_upon_outcome
0,8 years,A706918,Dog,English Springer Spaniel,White/Liver,2015-07-05T12:59:00.000,2015-07-05T12:59:00.000,9409 Bluegrass Dr in Austin (TX),Normal,Stray,Belle,Spayed Female,8 years,2007-07-05T00:00:00,2015-07-05T15:13:00,2015-07-05T15:13:00,Belle,NaN,Return to Owner,Spayed Female

In [294]:
merge1.shape

(100220, 20)

In [295]:
complete_merge=merge1.merge(
    intakes_outcomes,
    left_on=['animal_id',
             'animal_type',
             'breed',
             'color'],
    right_on=['animal_id_outcome',
             'animal_type',
             'breed',
             'color']
    )

complete_merge.head()



    

#age_upon_outcome_(days) int64
#age_upon_outcome_(years)      float64

#outcome_month                   int64
#outcome_year                    int64
#outcome_hour                    int64
#outcome_number                float64
#dob_year                        int64
#dob_month                       int64

#count                           int64
#age_upon_intake_(days)          int64
#age_upon_intake_(years)       float64

#intake_month                    int64
#intake_year                     int64
#intake_monthyear               object
#intake_weekday                 object
#intake_hour                     int64
#intake_number                 float64
#time_in_shelter                object
#time_in_shelter_days          float64
#dtype: object

,age_upon_intake_x,animal_id,animal_type,breed,color,datetime_x,datetime2,found_location_x,intake_condition_x,intake_type_x,...,age_upon_intake_age_group,intake_datetime,intake_month,intake_year,intake_monthyear,intake_weekday,intake_hour,intake_number,time_in_shelter,time_in_shelter_days
0,8 years,A706918,Dog,English Springer Spaniel,White/Liver,2015-07-05T12:59:00.000,2015-07-05T12:59:00.000,9409 Bluegrass Dr in Austin (TX),Normal,Stray,...,"(7.5, 10.0]",2015-07-05 12:59:00,7,2015,2015-07,Sunday,12,1.0,0 days 02:14:00.000000000,0.093056
1,11 months,A724273,Dog,Basenji Mix,Sable/White,2016-04-14T18:43:00.000,2016-04-14T18:43:00.000,2818 Palomino Trail in Austin (TX),Normal,Stray,...,"(-0.025, 2.5]",2016-04-14 18:43:00,4,2016,2016-04,Thursday,18,1.0,6 days 22:34:00.000000000,6.940278
2,4 weeks,A665644,Cat,Domestic Shorthair Mix,Calico,2013-10-21T07:59:00.000,2013-10-21T07:59:00.000,Austin (TX),Sick,Stray,...,"(-0.025, 2.5]",2013-10-21 07:59:00,10,2013,2013-10,Monday,7,1.0,0 days 03:40:00.000000000,0.152778
3,4 years,A682524,Dog,Doberman Pinsch/Australian Cattle Dog,Tan/Gray,2014-06-29T10:38:00.000,2014-06-29T10:38:00.000,800 Grove Blvd in Austin (TX),Normal,Stray,...,"(2.5, 5.0]",2014-06-29 10:38:00,6,2014,2014-06,Sunday,10,1.0,3 days 03:38:00.000000000,3.151389
4,2 years,A743852,Dog,Labrador Retriever Mix,Chocolate,2017-02-18T12:46:00.000,2017-02-18T12:46:00.000,Austin (TX),Normal,Owner Surrender,...,"(-0.025, 2.5]",2017-02-18 12:46:00,2,2017,2017-02,Saturday,12,1.0,3 days 04:58:00.000000000,3.206944

In [296]:
complete_merge.shape

(164351, 58)

## Meets Expections

## Question 1:Is there an area where more pets are found?


Find the *top 5 places* _where animals are found_  
so the shelter can coordinate with local volunteers and animal control 
to monitor these areas.

**Hint**: Try to __group__ the found locations together.

In [297]:
more_pets_found=complete_merge.groupby('found_location_x').size().sort_values(ascending=False)
five_more_found=more_pets_found.head(5)
print(f'These is the five top places {label}whewre more pets are found{value}\n')
for label,value in five_more_found.items():
    print(label, value)
    print()
    print()

These is the five top places 7201 Levander Loop in Austin (TX)whewre more pets are found873

Austin (TX) 36352


Outside Jurisdiction 3497


Travis (TX) 1894


Pflugerville (TX) 873


7201 Levander Loop in Austin (TX) 873

##  Question 2: What is the average number of pets found in a month in the year 2015? Are there months where there is a higher number of animals found?

Knowing the number of pets the shelter might see in a month can help them gather enough resources and donations to care for the animals they receive.

In [298]:
pets_in_2015=complete_merge[(complete_merge.intake_year==2015)]
pet_by_month=pets_in_2015.groupby('intake_month')

pet_by_month


## Question 3: What is the ratio of incoming pets vs. adopted pets?

This key metric helps the shelter know how they are doing.

##  Question 4: What is the distribution of the types of animals in the shelter?

Find the count of each type of animal in the shelter.


## Question 5: What are the adoption rates for specific breeds?

Find the top 5 dog breeds in the shelter (based on count) and then find the adoption percentage of each breed.


## Question 6: What are the adoption rates for different colorings?

Find the top 5 colorings in the shelter (based on count) and then find the adoption percentage of each color.


## Questions 7: About how many animals are spayed/neutered each month?

This will help the shelter allocate resources and staff. Assume that all intact males and females will be spayed/neutered.

## Questions 8: Describe your findings and methods for each of the above questions. Use markdown cells in JupyterLab to detail.
### Findings
1.Intakes and outcomes dataframes have the same number of columns and rows
2. 
### Methods 

```python
def hello()
```

# Extra Credit


##  Question 9 How many animals in the shelter are repeats? Which animal was returned to the shelter the most?

This means the animal has been brought in more than once.


## Question 10: What are the adoption rates for the following age groups?

    baby: 4 months and less
    young: 5 months - 2 years
    adult: 3 years - 10 years
    senior: 11+

## Question 11.If spay/neuter for a dog costs $100 and a spay/neuter for a cat costs $50, how much did the shelter spend in 2015 on these procedures?


## Questions 12.Describe your findings and methods for each of the above questions. Use markdown cells in JupyterLab to detail.

    How did you get your answer?
    What was your final answer?

# Bibliograpy
![images]

[Analyzing Books with Pandas](https://teamtreehouse.com/library/analyzing-books-with-pandas "link to the course")