# Data Analysis Tech Degree Unit 5: Pet Shelter Analysis

  ___

>Use Python’s Pandas library  to analyze pet shelter data
>
>to answer important questions for stakeholders.

## Setting everything up
---

In order to start working with the files, we need to import pandas as pd and reading the files

``` python
# import libraries
import pandas as pd 
# reading the files 
intakes=pd.read_csv('aac_intakes.csv')
intakes_outcomes=pd.read_csv('aac_intakes_outcomes.csv')
outcomes=pd.read_csv('aac_outcomes.csv')
```
so let's do that next

In [2]:
#import libraries
import pandas as pd 
import matplotlib.pyplot as plt
%matplotlib

Using matplotlib backend: module://matplotlib_inline.backend_inline

In [3]:
#import data
intakes=pd.read_csv('aac_intakes.csv')
intakes_outcomes=pd.read_csv('aac_intakes_outcomes.csv')
outcomes=pd.read_csv('aac_outcomes.csv')

## taking an initial look at the data from the csvs

Let's apply the following methods to look at each dataframe for info
* `head()`
* `tail()`
* `len()`
* `shape`
* `dtypes`

### Taking a look at the intakes dataframe

In [4]:
intakes

,age_upon_intake,animal_id,animal_type,breed,color,datetime,datetime2,found_location,intake_condition,intake_type,name,sex_upon_intake
0,8 years,A706918,Dog,English Springer Spaniel,White/Liver,2015-07-05T12:59:00.000,2015-07-05T12:59:00.000,9409 Bluegrass Dr in Austin (TX),Normal,Stray,Belle,Spayed Female
1,11 months,A724273,Dog,Basenji Mix,Sable/White,2016-04-14T18:43:00.000,2016-04-14T18:43:00.000,2818 Palomino Trail in Austin (TX),Normal,Stray,Runster,Intact Male
2,4 weeks,A665644,Cat,Domestic Shorthair Mix,Calico,2013-10-21T07:59:00.000,2013-10-21T07:59:00.000,Austin (TX),Sick,Stray,NaN,Intact Female
3,4 years,A682524,Dog,Doberman Pinsch/Australian Cattle Dog,Tan/Gray,2014-06-29T10:38:00.000,2014-06-29T10:38:00.000,800 Grove Blvd in Austin (TX),Normal,Stray,Rio,Neutered Male
4,2 years,A743852,Dog,Labrador Retriever Mix,Chocolate,2017-02-18T12:46:00.000,2017-02-18T12:46:00.000,Austin (TX),Normal,Owner Surrender,Odin,Neutered Male
...,...,...,...,...,...,...,...,...,...,...,...,...
80182,10 years,A769067,Dog,Boxer Mix,Brown Brindle,2018-03-29T18:20:00.000,2018-03-29T18:20:00.000,11216 Jollyville Rd 216 in Austin (TX),Aged,Stray,NaN,Spayed Female
80183,5 years,A768934,Dog,Dachshund Wirehair/Chihuahua Shorthair,Chocolate/White,2018-03-27T14:27:00.000,2018-03-27T14:27:00.000,603 West Johanna Street in Austin (TX),Normal,Stray,NaN,Intact Male
80184,2 years,A769064,Other,Bat Mix,Brown,2018-03-29T17:13:00.000,2018-03-29T17:13:00.000,2519 Scarbrough Dr in Travis (TX),Normal,Wildlife,NaN,Unknown
80185,3 years,A675680,Dog,German Shepherd/Black/Tan Hound,Black/Brown,2014-03-31T18:10:00.000,2014-03-31T18:10:00.000,Austin (TX),Normal,Public Assist,Draco,Neutered Male
80186,1 year,A680949,Dog,Chihuahua Shorthair/Beagle,Tan,2014-06-10T11:53:00.000,2014-06-10T11:53:00.000,4605 Lyra Cir in Austin (TX),Normal,Stray,Lolo,Intact Male

In [5]:
intakes.head(1)

,age_upon_intake,animal_id,animal_type,breed,color,datetime,datetime2,found_location,intake_condition,intake_type,name,sex_upon_intake
0,8 years,A706918,Dog,English Springer Spaniel,White/Liver,2015-07-05T12:59:00.000,2015-07-05T12:59:00.000,9409 Bluegrass Dr in Austin (TX),Normal,Stray,Belle,Spayed Female

In [6]:
intakes.tail()

,age_upon_intake,animal_id,animal_type,breed,color,datetime,datetime2,found_location,intake_condition,intake_type,name,sex_upon_intake
80182,10 years,A769067,Dog,Boxer Mix,Brown Brindle,2018-03-29T18:20:00.000,2018-03-29T18:20:00.000,11216 Jollyville Rd 216 in Austin (TX),Aged,Stray,NaN,Spayed Female
80183,5 years,A768934,Dog,Dachshund Wirehair/Chihuahua Shorthair,Chocolate/White,2018-03-27T14:27:00.000,2018-03-27T14:27:00.000,603 West Johanna Street in Austin (TX),Normal,Stray,NaN,Intact Male
80184,2 years,A769064,Other,Bat Mix,Brown,2018-03-29T17:13:00.000,2018-03-29T17:13:00.000,2519 Scarbrough Dr in Travis (TX),Normal,Wildlife,NaN,Unknown
80185,3 years,A675680,Dog,German Shepherd/Black/Tan Hound,Black/Brown,2014-03-31T18:10:00.000,2014-03-31T18:10:00.000,Austin (TX),Normal,Public Assist,Draco,Neutered Male
80186,1 year,A680949,Dog,Chihuahua Shorthair/Beagle,Tan,2014-06-10T11:53:00.000,2014-06-10T11:53:00.000,4605 Lyra Cir in Austin (TX),Normal,Stray,Lolo,Intact Male

In [7]:
intakes.tail(1)

,age_upon_intake,animal_id,animal_type,breed,color,datetime,datetime2,found_location,intake_condition,intake_type,name,sex_upon_intake
80186,1 year,A680949,Dog,Chihuahua Shorthair/Beagle,Tan,2014-06-10T11:53:00.000,2014-06-10T11:53:00.000,4605 Lyra Cir in Austin (TX),Normal,Stray,Lolo,Intact Male

In [8]:
len(intakes)

80187

In [9]:
intakes.shape

(80187, 12)

In [10]:
intakes.dtypes

age_upon_intake     object
animal_id           object
animal_type         object
breed               object
color               object
datetime            object
datetime2           object
found_location      object
intake_condition    object
intake_type         object
name                object
sex_upon_intake     object
dtype: object

In [11]:
#removing duplicates from the intakes dataframe
intakes.sort_values('animal_id', inplace=True)
intakes.drop_duplicates(('age_upon_intake','animal_id','datetime'), keep='last',inplace=True)
intakes.shape

(80160, 12)

### Taking a look at the intakes_outcomes dataframe

In [12]:
intakes_outcomes.head(1)

,age_upon_outcome,animal_id_outcome,date_of_birth,outcome_subtype,outcome_type,sex_upon_outcome,age_upon_outcome_(days),age_upon_outcome_(years),age_upon_outcome_age_group,outcome_datetime,...,age_upon_intake_age_group,intake_datetime,intake_month,intake_year,intake_monthyear,intake_weekday,intake_hour,intake_number,time_in_shelter,time_in_shelter_days
0,10 years,A006100,2007-07-09 00:00:00,NaN,Return to Owner,Neutered Male,3650,10.0,"(7.5, 10.0]",2017-12-07 14:07:00,...,"(7.5, 10.0]",2017-12-07 00:00:00,12,2017,2017-12,Thursday,14,1.0,0 days 14:07:00.000000000,0.588194

In [13]:
intakes_outcomes.count()

age_upon_outcome              79672
animal_id_outcome             79672
date_of_birth                 79672
outcome_subtype               36348
outcome_type                  79662
sex_upon_outcome              79671
age_upon_outcome_(days)       79672
age_upon_outcome_(years)      79672
age_upon_outcome_age_group    79672
outcome_datetime              79672
outcome_month                 79672
outcome_year                  79672
outcome_monthyear             79672
outcome_weekday               79672
outcome_hour                  79672
outcome_number                79672
dob_year                      79672
dob_month                     79672
dob_monthyear                 79672
age_upon_intake               79672
animal_id_intake              79672
animal_type                   79672
breed                         79672
color                         79672
found_location                79672
intake_condition              79672
intake_type                   79672
sex_upon_intake               79671
count                         79672
age_upon_intake_(days)        79672
age_upon_intake_(years)       79672
age_upon_intake_age_group     79672
intake_datetime               79672
intake_month                  79672
intake_year                   79672
intake_monthyear              79672
intake_weekday                79672
intake_hour                   79672
intake_number                 79672
time_in_shelter               79672
time_in_shelter_days          79672
dtype: int64

In [14]:
intakes_outcomes.tail(1)

,age_upon_outcome,animal_id_outcome,date_of_birth,outcome_subtype,outcome_type,sex_upon_outcome,age_upon_outcome_(days),age_upon_outcome_(years),age_upon_outcome_age_group,outcome_datetime,...,age_upon_intake_age_group,intake_datetime,intake_month,intake_year,intake_monthyear,intake_weekday,intake_hour,intake_number,time_in_shelter,time_in_shelter_days
79671,10 years,A769067,2008-03-29 00:00:00,Suffering,Euthanasia,Spayed Female,3650,10.0,"(7.5, 10.0]",2018-03-30 13:52:00,...,"(7.5, 10.0]",2018-03-29 18:20:00,3,2018,2018-03,Thursday,18,1.0,0 days 19:32:00.000000000,0.813889

In [15]:
len(intakes_outcomes)

79672

In [16]:
rows, columns=intakes_outcomes.shape
f'intakes_outcomes dataframe has {rows } rows and  {columns} columns'

'intakes_outcomes dataframe has 79672 rows and  41 columns'

In [17]:
intakes_outcomes.dtypes

age_upon_outcome               object
animal_id_outcome              object
date_of_birth                  object
outcome_subtype                object
outcome_type                   object
sex_upon_outcome               object
age_upon_outcome_(days)         int64
age_upon_outcome_(years)      float64
age_upon_outcome_age_group     object
outcome_datetime               object
outcome_month                   int64
outcome_year                    int64
outcome_monthyear              object
outcome_weekday                object
outcome_hour                    int64
outcome_number                float64
dob_year                        int64
dob_month                       int64
dob_monthyear                  object
age_upon_intake                object
animal_id_intake               object
animal_type                    object
breed                          object
color                          object
found_location                 object
intake_condition               object
intake_type                    object
sex_upon_intake                object
count                           int64
age_upon_intake_(days)          int64
age_upon_intake_(years)       float64
age_upon_intake_age_group      object
intake_datetime                object
intake_month                    int64
intake_year                     int64
intake_monthyear               object
intake_weekday                 object
intake_hour                     int64
intake_number                 float64
time_in_shelter                object
time_in_shelter_days          float64
dtype: object

In [18]:
# remove duplicates from the intakes_outcomes dataframe

intakes_outcomes.sort_values('animal_id_intake', inplace=True)

intakes_outcomes.drop_duplicates(('age_upon_outcome','animal_id_intake','animal_id_outcome','date_of_birth','intake_datetime','outcome_datetime'), keep='last',inplace=True)
intakes_outcomes.shape
#intakes_outcomes[['animal_id_intake','animal_id_outcome']]
#intakes_outcomes

(79636, 41)

In [19]:
intakes.shape,outcomes.shape, intakes_outcomes.shape

((80160, 12), (80681, 12), (79636, 41))

### Taking a look at the outcomes dataframe

In [20]:
outcomes.head(1)

,age_upon_outcome,animal_id,animal_type,breed,color,date_of_birth,datetime,monthyear,name,outcome_subtype,outcome_type,sex_upon_outcome
0,2 weeks,A684346,Cat,Domestic Shorthair Mix,Orange Tabby,2014-07-07T00:00:00,2014-07-22T16:04:00,2014-07-22T16:04:00,NaN,Partner,Transfer,Intact Male

In [21]:
outcomes.tail(1)

,age_upon_outcome,animal_id,animal_type,breed,color,date_of_birth,datetime,monthyear,name,outcome_subtype,outcome_type,sex_upon_outcome
80680,1 year,A768726,Dog,Siberian Husky Mix,Brown/White,2017-03-24T00:00:00,2018-04-03T18:36:00,2018-04-03T18:36:00,Sky,NaN,Return to Owner,Intact Female

In [22]:
outcomes.count(),intakes.count(), intakes_outcomes.count()

(age_upon_outcome    80673
 animal_id           80681
 animal_type         80681
 breed               80681
 color               80681
 date_of_birth       80681
 datetime            80681
 monthyear           80681
 name                56116
 outcome_subtype     36893
 outcome_type        80667
 sex_upon_outcome    80679
 dtype: int64,
 age_upon_intake     80160
 animal_id           80160
 animal_type         80160
 breed               80160
 color               80160
 datetime            80160
 datetime2           80160
 found_location      80160
 intake_condition    80160
 intake_type         80160
 name                55585
 sex_upon_intake     80159
 dtype: int64,
 age_upon_outcome              79636
 animal_id_outcome             79636
 date_of_birth                 79636
 outcome_subtype               36332
 outcome_type                  79626
 sex_upon_outcome              79635
 age_upon_outcome_(days)       79636
 age_upon_outcome_(years)      79636
 age_upon_outcome_age_group    79636
 outcome_datetime              79636
 outcome_month                 79636
 outcome_year                  79636
 outcome_monthyear             79636
 outcome_weekday               79636
 outcome_hour                  79636
 outcome_number                79636
 dob_year                      79636
 dob_month                     79636
 dob_monthyear                 79636
 age_upon_intake               79636
 animal_id_intake              79636
 animal_type                   79636
 breed                         79636
 color                         79636
 found_location                79636
 intake_condition              79636
 intake_type                   79636
 sex_upon_intake               79635
 count                         79636
 age_upon_intake_(days)        79636
 age_upon_intake_(years)       79636
 age_upon_intake_age_group     79636
 intake_datetime               79636
 intake_month                  79636
 intake_year                   79636
 intake_monthyear              79636
 intake_weekday                79636
 intake_hour                   79636
 intake_number                 79636
 time_in_shelter               79636
 time_in_shelter_days          79636
 dtype: int64)

In [23]:
len(outcomes)

80681

In [24]:
outcomes.shape

(80681, 12)

In [25]:
outcomes.dtypes

age_upon_outcome    object
animal_id           object
animal_type         object
breed               object
color               object
date_of_birth       object
datetime            object
monthyear           object
name                object
outcome_subtype     object
outcome_type        object
sex_upon_outcome    object
dtype: object

In [26]:
#removing the duplicates from the outcomes dataframe
outcomes.sort_values('animal_id', inplace=True)
outcomes.drop_duplicates(('animal_id','age_upon_outcome','date_of_birth','datetime'), keep='last',inplace=True)

intakes.shape, intakes_outcomes.shape, outcomes.shape

((80160, 12), (79636, 41), (80671, 12))

In [27]:
#merging the intakes and the outcomes dataframes

merge_1=intakes.merge(
    outcomes,

    left_on=[
        'animal_id',
        'animal_type',
        'breed',
        'color',
        'name'
      
       
       
        
    ],
    right_on=[
        'animal_id',
        'animal_type',
        'breed',
        'color',
        
        'name'
        
       
        
    ]
        
)

merge_1

,age_upon_intake,animal_id,animal_type,breed,color,datetime_x,datetime2,found_location,intake_condition,intake_type,name,sex_upon_intake,age_upon_outcome,date_of_birth,datetime_y,monthyear,outcome_subtype,outcome_type,sex_upon_outcome
0,7 years,A006100,Dog,Spinone Italiano Mix,Yellow/White,2014-12-19T10:21:00.000,2014-12-19T10:21:00.000,8700 Research Blvd in Austin (TX),Normal,Public Assist,Scamp,Neutered Male,6 years,2007-07-09T00:00:00,2014-03-08T17:10:00,2014-03-08T17:10:00,NaN,Return to Owner,Neutered Male
1,7 years,A006100,Dog,Spinone Italiano Mix,Yellow/White,2014-12-19T10:21:00.000,2014-12-19T10:21:00.000,8700 Research Blvd in Austin (TX),Normal,Public Assist,Scamp,Neutered Male,10 years,2007-07-09T00:00:00,2017-12-07T00:00:00,2017-12-07T00:00:00,NaN,Return to Owner,Neutered Male
2,7 years,A006100,Dog,Spinone Italiano Mix,Yellow/White,2014-12-19T10:21:00.000,2014-12-19T10:21:00.000,8700 Research Blvd in Austin (TX),Normal,Public Assist,Scamp,Neutered Male,7 years,2007-07-09T00:00:00,2014-12-20T16:35:00,2014-12-20T16:35:00,NaN,Return to Owner,Neutered Male
3,10 years,A006100,Dog,Spinone Italiano Mix,Yellow/White,2017-12-07T14:07:00.000,2017-12-07T14:07:00.000,Colony Creek And Hunters Trace in Austin (TX),Normal,Stray,Scamp,Neutered Male,6 years,2007-07-09T00:00:00,2014-03-08T17:10:00,2014-03-08T17:10:00,NaN,Return to Owner,Neutered Male
4,10 years,A006100,Dog,Spinone Italiano Mix,Yellow/White,2017-12-07T14:07:00.000,2017-12-07T14:07:00.000,Colony Creek And Hunters Trace in Austin (TX),Normal,Stray,Scamp,Neutered Male,10 years,2007-07-09T00:00:00,2017-12-07T00:00:00,2017-12-07T00:00:00,NaN,Return to Owner,Neutered Male
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100089,2 weeks,A769058,Cat,Domestic Shorthair Mix,Blue,2018-03-29T16:23:00.000,2018-03-29T16:23:00.000,1208 Coaches Crossing in Pflugerville (TX),Normal,Stray,NaN,Unknown,2 weeks,2018-03-14T00:00:00,2018-03-29T18:13:00,2018-03-29T18:13:00,Partner,Transfer,Unknown
100090,2 weeks,A769059,Cat,Domestic Shorthair Mix,Blue,2018-03-29T16:23:00.000,2018-03-29T16:23:00.000,1208 Coaches Crossing in Pflugerville (TX),Normal,Stray,NaN,Unknown,2 weeks,2018-03-14T00:00:00,2018-03-30T09:23:00,2018-03-30T09:23:00,Partner,Transfer,Unknown
100091,2 weeks,A769060,Cat,Domestic Shorthair Mix,Tortie,2018-03-29T16:23:00.000,2018-03-29T16:23:00.000,1208 Coaches Crossing in Pflugerville (TX),Normal,Stray,NaN,Unknown,2 weeks,2018-03-14T00:00:00,2018-03-29T18:14:00,2018-03-29T18:14:00,Partner,Transfer,Unknown
100092,2 years,A769064,Other,Bat Mix,Brown,2018-03-29T17:13:00.000,2018-03-29T17:13:00.000,2519 Scarbrough Dr in Travis (TX),Normal,Wildlife,NaN,Unknown,2 years,2016-03-29T00:00:00,2018-03-29T18:30:00,2018-03-29T18:30:00,Rabies Risk,Euthanasia,Unknown
100093,1 year,A769065,Other,Bat Mix,Brown,2018-03-29T17:19:00.000,2018-03-29T17:19:00.000,1122 Walton Ln in Austin (TX),Normal,Wildlife,NaN,Unknown,1 year,2017-03-29T00:00:00,2018-03-29T18:28:00,2018-03-29T18:28:00,Rabies Risk,Euthanasia,Unknown

In [28]:
complete_merge=merge_1.merge(
    intakes_outcomes,
    left_on=[
        'animal_id',
        'animal_type',
        'breed',
        'color',
        'found_location'
    ]
    ,
    right_on=[
        'animal_id_intake',
        'animal_type',
        'breed',
        'color',
        'found_location'  
    ]

)

complete_merge

,age_upon_intake_x,animal_id,animal_type,breed,color,datetime_x,datetime2,found_location,intake_condition_x,intake_type_x,...,age_upon_intake_age_group,intake_datetime,intake_month,intake_year,intake_monthyear,intake_weekday,intake_hour,intake_number,time_in_shelter,time_in_shelter_days
0,7 years,A006100,Dog,Spinone Italiano Mix,Yellow/White,2014-12-19T10:21:00.000,2014-12-19T10:21:00.000,8700 Research Blvd in Austin (TX),Normal,Public Assist,...,"(5.0, 7.5]",2014-12-19 10:21:00,12,2014,2014-12,Friday,10,2.0,1 days 06:14:00.000000000,1.259722
1,7 years,A006100,Dog,Spinone Italiano Mix,Yellow/White,2014-12-19T10:21:00.000,2014-12-19T10:21:00.000,8700 Research Blvd in Austin (TX),Normal,Public Assist,...,"(5.0, 7.5]",2014-12-19 10:21:00,12,2014,2014-12,Friday,10,2.0,1 days 06:14:00.000000000,1.259722
2,7 years,A006100,Dog,Spinone Italiano Mix,Yellow/White,2014-12-19T10:21:00.000,2014-12-19T10:21:00.000,8700 Research Blvd in Austin (TX),Normal,Public Assist,...,"(5.0, 7.5]",2014-12-19 10:21:00,12,2014,2014-12,Friday,10,2.0,1 days 06:14:00.000000000,1.259722
3,10 years,A006100,Dog,Spinone Italiano Mix,Yellow/White,2017-12-07T14:07:00.000,2017-12-07T14:07:00.000,Colony Creek And Hunters Trace in Austin (TX),Normal,Stray,...,"(7.5, 10.0]",2017-12-07 00:00:00,12,2017,2017-12,Thursday,14,1.0,0 days 14:07:00.000000000,0.588194
4,10 years,A006100,Dog,Spinone Italiano Mix,Yellow/White,2017-12-07T14:07:00.000,2017-12-07T14:07:00.000,Colony Creek And Hunters Trace in Austin (TX),Normal,Stray,...,"(7.5, 10.0]",2017-12-07 00:00:00,12,2017,2017-12,Thursday,14,1.0,0 days 14:07:00.000000000,0.588194
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106340,2 weeks,A769058,Cat,Domestic Shorthair Mix,Blue,2018-03-29T16:23:00.000,2018-03-29T16:23:00.000,1208 Coaches Crossing in Pflugerville (TX),Normal,Stray,...,"(-0.025, 2.5]",2018-03-29 16:23:00,3,2018,2018-03,Thursday,16,1.0,0 days 01:50:00.000000000,0.076389
106341,2 weeks,A769059,Cat,Domestic Shorthair Mix,Blue,2018-03-29T16:23:00.000,2018-03-29T16:23:00.000,1208 Coaches Crossing in Pflugerville (TX),Normal,Stray,...,"(-0.025, 2.5]",2018-03-29 16:23:00,3,2018,2018-03,Thursday,16,1.0,0 days 17:00:00.000000000,0.708333
106342,2 weeks,A769060,Cat,Domestic Shorthair Mix,Tortie,2018-03-29T16:23:00.000,2018-03-29T16:23:00.000,1208 Coaches Crossing in Pflugerville (TX),Normal,Stray,...,"(-0.025, 2.5]",2018-03-29 16:23:00,3,2018,2018-03,Thursday,16,1.0,0 days 01:51:00.000000000,0.077083
106343,2 years,A769064,Other,Bat Mix,Brown,2018-03-29T17:13:00.000,2018-03-29T17:13:00.000,2519 Scarbrough Dr in Travis (TX),Normal,Wildlife,...,"(-0.025, 2.5]",2018-03-29 17:13:00,3,2018,2018-03,Thursday,17,1.0,0 days 01:17:00.000000000,0.053472
106344,1 year,A769065,Other,Bat Mix,Brown,2018-03-29T17:19:00.000,2018-03-29T17:19:00.000,1122 Walton Ln in Austin (TX),Normal,Wildlife,...,"(-0.025, 2.5]",2018-03-29 17:19:00,3,2018,2018-03,Thursday,17,1.0,0 days 01:09:00.000000000,0.047917

In [29]:

complete_merge.sort_values('animal_id', inplace=True)
complete_merge.drop_duplicates(('age_upon_intake_x','animal_id','animal_type','datetime_x'), keep='last',inplace=True)
#intakes_outcomes.shape
#intakes_outcomes[['animal_id_intake','animal_id_outcome']]
complete_merge.shape

(79600, 56)

## Meets Expections

### 1. Question 1:Is there an area where more pets are found?


Find the *top 5 places* _where animals are found_  
so the shelter can coordinate with local volunteers and animal control 
to monitor these areas.

**Hint**: Try to __group__ the found locations together.

In [30]:
found_locations=complete_merge.groupby('found_location')
found_locations_count=found_locations.count()
austin_locations=found_locations_count.sort_values(ascending=False)
location_list=[]
for location in austin_locations.items():
    location=location
    if 'Austin' in location[0]:
        austin_location=location
        location_list.append(austin_location)

five_locations=location_list[1:6]
print('The five top locations in Austin are:')
for location, total in five_locations:
    print()
   
    print(f'{location} with  {total}')

TypeError: DataFrame.sort_values() missing 1 required positional argument: 'by'

#### Explanation
In order to get the 5 top destinations in 
*
*
*
*

###  2. Question 2: What is the average number of pets found in a month in the year 2015? Are there months where there is a higher number of animals found?

Knowing the number of pets the shelter might see in a month can help them gather enough resources and donations to care for the animals they receive.

In [ ]:
#select all the records from 2015
pets_in_2015=complete_merge[(complete_merge.intake_year==2015)]

#group them by month
grouped_by_month=pets_in_2015.groupby('intake_month')
#find the size for each month
count_groups_size=grouped_by_month.size()

count_groups_size
#  use the sum aggregate to find out the total  of pets in 2015
sum_groups_size=count_groups_size.sum()
#sum_groups_size

#find the mean
average_count_groups=count_groups_size.mean()


higher_month=grouped_by_month.size()[5]
second_higher_month=grouped_by_month.size()[6]
f'The average number of pets found in a month in 2015 is {average_count_groups:.0f} The months where there are a higher number of animals found are May with {higher_month} and June  with {second_higher_month}'

####  Explanation
---
* Initially, merged all the dataframes into one called **complete_merge**, from the resulting  dataframe, the __duplicate were  removed__.

* After the duplicates were removed, then the  records pertaining only to 2015 were selected form the dataframe into a variable called **pets_in_2015**.
---

* A new variable called **grouped_by_month** was created which held the same dataframe as **pets_in_2015**. only that the ```pd.groupby```
method was applied to the dataframe with the argument of intake_month, so that when run, it displays the same data from the **pets_in_2015 dataframe**, only that it will be grouped by months in which the pets were found or as the dataframe calls them intaken.
---

* To the **group_by_month values**, the ```size()``` method was appplied, so that it provided the size for each  of the months and stored in  the **count_groups_size**.
---

* The ```mean()``` method was applied to  the ***count_groups_size*** variable  the so that the average for all months was produced.
---

* __To get the higher month__, I took a look at count_groups_size variable, which holds a ```pandas.core.series.Series```, reviewed which were the highest values and accessed them by their corresponding indexes, that is 5 and 6.
* As an additional step, the sum total for all the months,i.e.,how many pets were found in 2015

### 3. Question 3: What is the ratio of incoming pets vs. adopted pets?

This key metric helps the shelter know how they are doing

In [ ]:

ratio=len(intakes)/len(outcomes)
f'the ratio of incoming pets vs adopted pets is {ratio:.4f} which represents the {ratio*100:.2f}%'

###  4. Question 4: What is the distribution of the types of animals in the shelter?

Find the count of each type of animal in the shelter.

In [ ]:
grouped_by_animal_type=complete_merge.groupby('animal_type')
animals_count=grouped_by_animal_type.count()

for animal_count in animals_count.items():
    animal=animal_count[1]
 
  
print('the distribution of the type of animales in the shelter is' )
print()
   
animal=animal.sort_values(ascending=False)
print(animal)

#### Explanation
---
For this question, I followed the steps described below
---

1. Grouped the complete merge dataframe by animal type and stored it  in grouped_by_animal_type variable
2. Applied  the ```count``` method to the result grouped_by_anima_type varibale in order to get the count of the animals by animal type
3. looped through the results in order to get the individual animal type count on the index 1 to get values and stored it in the variable animal
4. outside of the loop, reassigned the value to a variable where the values were sorted

### 5. Question 5: What are the adoption rates for specific breeds?

Find the top 5 dog breeds in the shelter (based on count) and then find the adoption percentage of each breed.

In [ ]:
dogs=complete_merge.loc[(complete_merge.animal_type=='Dog')]
total_dogs=len(dogs)
total_dogs


grouped_by_breeds=dogs.groupby('breed')
grouped_by_breeds
count_of_breeds=grouped_by_breeds.count()
for count_of_breed in count_of_breeds.items():
    breeds=count_of_breed[1]
breeds=breeds.sort_values(ascending=False)
breeds_head=breeds.head(5)
for name,element in breeds_head.items():
    ratio=element/total_dogs
   
    percentage=ratio*100
    print(f'the adoption rate for the {name} is {percentage:.2f}%')

### 6. Question 6: What are the adoption rates for different colorings?

Find the top 5 colorings in the shelter (based on count) and then find the adoption percentage of each color.

### 7. Questions 7: About how many animals are spayed/neutered each month?

This will help the shelter allocate resources and staff. Assume that all intact males and females will be spayed/neutered.

### 8. Questions 8: Describe your findings and methods for each of the above questions. Use markdown cells in JupyterLab to detail.
#### Findings
1.Intakes and outcomes dataframes have the same number of columns and rows
2. 
#### Methods 

```python
def hello()
```

# Extra Credit


###  1. Question 9 How many animals in the shelter are repeats? Which animal was returned to the shelter the most?

This means the animal has been brought in more than once.


### 2. Question 10: What are the adoption rates for the following age groups?

    baby: 4 months and less
    young: 5 months - 2 years
    adult: 3 years - 10 years
    senior: 11+

### 3. Question 11.If spay/neuter for a dog costs $100 and a spay/neuter for a cat costs $50, how much did the shelter spend in 2015 on these procedures?


### 4. Questions 12.Describe your findings and methods for each of the above questions. Use markdown cells in JupyterLab to detail.

    -- How did you get your answer?
    -- What was your final answer?

# Bibliograpy
![images]

[Analyzing Books with Pandas](https://teamtreehouse.com/library/analyzing-books-with-pandas "link to the course")