# Data Analysis Tech Degree Unit 5: Pet Shelter Analysis

  ___

>Use Pythonâ€™s Pandas library  to analyze pet shelter data
>
>to answer important questions for stakeholders.

## Setting everyything up
---

In order to start working with the files, we need to import pandas as pd and reading the files

``` python
#import libraries
import pandas as pd 
#reading the files 
intakes=pd.read_csv('aac_intakes.csv')
intakes_outcomes=pd.read_csv('aac_intakes_outcomes.csv')
outcomes=pd.read_csv('aac_outcomes.csv')
```
so let's do that next

In [2]:
#import libraries
import pandas as pd

In [3]:
#import data
intakes=pd.read_csv('aac_intakes.csv')
intakes_outcomes=pd.read_csv('aac_intakes_outcomes.csv')
outcomes=pd.read_csv('aac_outcomes.csv')

## taking an initial look at the data from the csvs

Let's apply the following methods to look at each dataframe for info
* `head()`
* `tail()`
* `len()`
* `shape`
* `dtypes`

### Taking a look at the intakes dataframe

In [7]:
intakes.head(1)

,age_upon_intake,animal_id,animal_type,breed,color,datetime,datetime2,found_location,intake_condition,intake_type,name,sex_upon_intake
0,8 years,A706918,Dog,English Springer Spaniel,White/Liver,2015-07-05T12:59:00.000,2015-07-05T12:59:00.000,9409 Bluegrass Dr in Austin (TX),Normal,Stray,Belle,Spayed Female

In [11]:
intakes.tail(1)

,age_upon_intake,animal_id,animal_type,breed,color,datetime,datetime2,found_location,intake_condition,intake_type,name,sex_upon_intake
80186,1 year,A680949,Dog,Chihuahua Shorthair/Beagle,Tan,2014-06-10T11:53:00.000,2014-06-10T11:53:00.000,4605 Lyra Cir in Austin (TX),Normal,Stray,Lolo,Intact Male

In [13]:
len(intakes)

80187

In [17]:
rows, columns=intakes.shape
f'intakes has {rows} rows and {columns} columns'

'intakes has 80187 rows and 12 columns'

### Taking a look at the intakes_outcomes dataframe

In [ ]:
intakes_outcomes.

## Meets Expections

## Question 1:Is there an area where more pets are found?


Find the *top 5 places* _where animals are found_  
so the shelter can coordinate with local volunteers and animal control 
to monitor these areas.

**Hint**: Try to __group__ the found locations together.

##  Question 2: What is the average number of pets found in a month in the year 2015? Are there months where there is a higher number of animals found?

Knowing the number of pets the shelter might see in a month can help them gather enough resources and donations to care for the animals they receive.


## Question 3: What is the ratio of incoming pets vs. adopted pets?

This key metric helps the shelter know how they are doing.

##  Question 4: What is the distribution of the types of animals in the shelter?

Find the count of each type of animal in the shelter.


## Question 5: What are the adoption rates for specific breeds?

Find the top 5 dog breeds in the shelter (based on count) and then find the adoption percentage of each breed.


## Question 6: What are the adoption rates for different colorings?

Find the top 5 colorings in the shelter (based on count) and then find the adoption percentage of each color.


## Questions 7: About how many animals are spayed/neutered each month?

This will help the shelter allocate resources and staff. Assume that all intact males and females will be spayed/neutered.

## Questions 8: Describe your findings and methods for each of the above questions. Use markdown cells in JupyterLab to detail.
### Findings
1. Hello
### Methods 

```python
def hello()
```

# Extra Credit


##  Question 9 How many animals in the shelter are repeats? Which animal was returned to the shelter the most?

This means the animal has been brought in more than once.


## Question 10: What are the adoption rates for the following age groups?

    baby: 4 months and less
    young: 5 months - 2 years
    adult: 3 years - 10 years
    senior: 11+

## Question 11.If spay/neuter for a dog costs $100 and a spay/neuter for a cat costs $50, how much did the shelter spend in 2015 on these procedures?


## Questions 12.Describe your findings and methods for each of the above questions. Use markdown cells in JupyterLab to detail.

    How did you get your answer?
    What was your final answer?

# Bibliograpy
![images]

[Analyzing Books with Pandas](https://teamtreehouse.com/library/analyzing-books-with-pandas "link to the course")